
body{
font-family: 'Tahoma';
margin:0;
background:#f2f6f8;
}
.navbar{
display:flex;
align-items:center;
justify-content:space-between;
background:#ffffff;
padding:10px 20px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.navbar ul{
list-style:none;
display:flex;
gap:15px;
}
.navbar a{
text-decoration:none;
color:#333;
font-weight:bold;
}
.logo{width:60px;}
.hero{
background:#e63946;
color:white;
padding:60px 20px;
text-align:center;
}
section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
text-align:center;
}
.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
}
.gallery img{
width:220px;
margin:10px;
border-radius:12px;
}
